<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:a="http://typo3.org/ns/Webconsulting/AstryxTypo3/Components/ComponentCollection" data-namespace-typo3-fluid="true">

<f:comment>
    The last item is the current page: rendered as text, not a link, and
    marked aria-current so assistive technology announces the position
    instead of offering a link to where the reader already is.
</f:comment>

<nav class="astryx-breadcrumb" aria-label="{f:translate(key: 'LLL:EXT:astryx_typo3/Resources/Private/Language/labels.xlf:chrome.breadcrumb', default: 'Breadcrumb')}">
    <a:layout.container>
        <ol class="astryx-breadcrumb__list">
            <f:for each="{breadcrumb}" as="item" iteration="i">
                <li class="astryx-breadcrumb__item">
                    <f:if condition="{i.isLast}">
                        <f:then>
                            <span class="astryx-breadcrumb__current" aria-current="page">{item.title}</span>
                        </f:then>
                        <f:else>
                            <a href="{item.link}" class="astryx-breadcrumb__link">{item.title}</a>
                        </f:else>
                    </f:if>
                </li>
            </f:for>
        </ol>
    </a:layout.container>
</nav>

</html>
