<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:a="http://typo3.org/ns/Webconsulting/AstryxTypo3/Components/ComponentCollection" data-namespace-typo3-fluid="true">

<f:comment>
    The rootline arrives as `breadcrumb` from the page layout's data processor.
    Whether there is a trail at all, and whether it is long enough to be worth
    showing, is decided in the layout; all this does is name the landmark and
    hand the array over.
</f:comment>

<a:organism.breadcrumb
    items="{breadcrumb}"
    ariaLabel="{f:translate(key: 'LLL:EXT:astryx_typo3/Resources/Private/Language/labels.xlf:chrome.breadcrumb', default: 'Breadcrumb')}"
/>

</html>
