<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:a="http://typo3.org/ns/Webconsulting/AstryxTypo3/Components/ComponentCollection" data-namespace-typo3-fluid="true">

<f:comment>
    The wordmark falls back to the site title, because a site that never set
    one still has a name and a nameless footer is worse than a repeated one.
    Everything else is handed straight to SiteFooter: the two menus come from
    data processors, the rest from site settings.
</f:comment>

<f:variable name="labels" value="LLL:EXT:astryx_typo3/Resources/Private/Language/labels.xlf"/>

<f:variable name="wordmark" value="{site.configuration.settings.astryx.brand.wordmark}"/>
<f:if condition="!{wordmark}">
    <f:variable name="wordmark" value="{site.configuration.websiteTitle}"/>
</f:if>

<a:organism.siteFooter
    homeUrl="{f:uri.page(pageUid: site.rootPageId)}"
    wordmark="{wordmark}"
    tagline="{site.configuration.settings.astryx.brand.tagline}"
    copyrightText="{site.configuration.settings.astryx.footer.copyrightText}"
    languages="{languageNavigation}"
    languageLabel="{f:translate(key: '{labels}:chrome.languageNavigation', default: 'Language')}"
    legalMenu="{legalMenu}"
    legalLabel="{f:translate(key: '{labels}:chrome.legalNavigation', default: 'Legal')}"
/>

</html>
