<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:formvh="http://typo3.org/ns/TYPO3/CMS/Form/ViewHelpers"
    xmlns:a="http://typo3.org/ns/Webconsulting/AstryxTypo3/Components/ComponentCollection"
    data-namespace-typo3-fluid="true"
>
<f:comment>
    Form element "AdvancedPassword": the password and its confirmation, each a
    labelled control of its own, grouped in a fieldset (the core default) so
    the pair is announced as one question. The password rules, when the form
    states them, are the first control's help text.
</f:comment>
<formvh:renderRenderable renderable="{element}">
    <f:form.validationResults for="{element.rootForm.identifier}.{element.identifier}">
        <f:variable name="rules" value="{formvh:translateElementProperty(element: element, property: 'passwordDescription')}" />
        <f:variable name="confirmationLabel" value="{formvh:translateElementProperty(element: element, property: 'confirmationLabel')}" />
        <f:if condition="!{confirmationLabel}">
            <f:variable name="confirmationLabel" value="{f:translate(key: 'LLL:EXT:astryx_typo3/Resources/Private/Language/plugins.xlf:form.passwordRepeat')}" />
        </f:if>
        <f:variable name="describedBy">{f:if(condition: rules, then: '{element.uniqueIdentifier}-rules')} {f:if(condition: element.properties.elementDescription, then: '{element.uniqueIdentifier}-desc')} {f:if(condition: validationResults.errors, then: '{element.uniqueIdentifier}-errors')}</f:variable>
        <f:variable name="describedBy" value="{describedBy -> f:format.trim()}" />
        <f:if condition="{describedBy}">
            <f:variable name="aria" value="{describedby: describedBy}" />
        </f:if>
        <f:if condition="{validationResults.errors}">
            <f:variable name="aria" value="{invalid: 'true', describedby: describedBy}" />
        </f:if>

        <f:render partial="Field/Field" arguments="{element: element, renderFieldset: element.properties.renderFieldset, doNotShowLabel: 1}" contentAs="elementContent">
            <a:layout.formLayout>
                <a:molecule.field>
                    <label class="astryx-field-label" for="{element.uniqueIdentifier}"><span>{formvh:translateElementProperty(element: element, property: 'label')}</span><f:if condition="{element.required}"><f:render partial="Field/Required" arguments="{element: element}" /></f:if></label>
                    <f:form.password
                        property="{element.identifier}.password"
                        id="{element.uniqueIdentifier}"
                        errorClass="g-form__invalid"
                        additionalAttributes="{formvh:translateElementProperty(element: element, property: 'fluidAdditionalAttributes')}"
                        aria="{aria}"
                    />
                    <f:if condition="{rules}">
                        <p class="astryx-field-description" id="{element.uniqueIdentifier}-rules">{rules}</p>
                    </f:if>
                </a:molecule.field>
                <a:molecule.field>
                    <label class="astryx-field-label" for="{element.uniqueIdentifier}-confirmation"><span>{confirmationLabel}</span><f:if condition="{element.required}"><f:render partial="Field/Required" arguments="{element: element}" /></f:if></label>
                    <f:form.password
                        property="{element.identifier}.confirmation"
                        id="{element.uniqueIdentifier}-confirmation"
                        errorClass="g-form__invalid"
                        additionalAttributes="{formvh:translateElementProperty(element: element, property: 'fluidAdditionalAttributes')}"
                        aria="{aria}"
                    />
                </a:molecule.field>
            </a:layout.formLayout>
            <f:if condition="{validationResults.errors} && {element.properties.renderFieldset} == '1'">
                <f:render partial="Field/Errors" arguments="{element: element, errors: validationResults.errors}" />
            </f:if>
        </f:render>
    </f:form.validationResults>
</formvh:renderRenderable>
</html>
