<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:formvh="http://typo3.org/ns/TYPO3/CMS/Form/ViewHelpers"
    xmlns:a="http://typo3.org/ns/Webconsulting/AstryxTypo3/Components/ComponentCollection"
    data-namespace-typo3-fluid="true"
>
<f:comment>Form element "CountrySelect": the core country list in a native select, painted by the Astryx field shell. The bare control is what the Astryx Field paints; the aria wiring names the help text and, after a failed check, the message.</f:comment>
<formvh:renderRenderable renderable="{element}">
    <f:form.validationResults for="{element.rootForm.identifier}.{element.identifier}">
        <f:variable name="describedBy">{f:if(condition: element.properties.elementDescription, then: '{element.uniqueIdentifier}-desc')} {f:if(condition: validationResults.errors, then: '{element.uniqueIdentifier}-errors')}</f:variable>
        <f:variable name="describedBy" value="{describedBy -> f:format.trim()}" />
        <f:if condition="{describedBy}">
            <f:variable name="aria" value="{describedby: describedBy}" />
        </f:if>
        <f:if condition="{validationResults.errors}">
            <f:variable name="aria" value="{invalid: 'true', describedby: describedBy}" />
        </f:if>

        <f:render partial="Field/Field" arguments="{element: element}" contentAs="elementContent">
            <f:if condition="{element.properties.prependOptionLabel}">
                <f:then>
                    <f:form.countrySelect
                        property="{element.identifier}"
                        id="{element.uniqueIdentifier}"
                        errorClass="g-form__invalid"
                        additionalAttributes="{formvh:translateElementProperty(element: element, property: 'fluidAdditionalAttributes')}"
                        prependOptionLabel="{formvh:translateElementProperty(element: element, property: 'prependOptionLabel')}"
                        prependOptionValue="{formvh:translateElementProperty(element: element, property: 'prependOptionValue')}"
                        sortByOptionLabel="true"
                        prioritizedCountries="{element.properties.prioritizedCountries}"
                        onlyCountries="{element.properties.onlyCountries}"
                        excludeCountries="{element.properties.excludeCountries}"
                        aria="{aria}"
                    />
                </f:then>
                <f:else>
                    <f:form.countrySelect
                        property="{element.identifier}"
                        id="{element.uniqueIdentifier}"
                        errorClass="g-form__invalid"
                        additionalAttributes="{formvh:translateElementProperty(element: element, property: 'fluidAdditionalAttributes')}"
                        sortByOptionLabel="true"
                        prioritizedCountries="{element.properties.prioritizedCountries}"
                        onlyCountries="{element.properties.onlyCountries}"
                        excludeCountries="{element.properties.excludeCountries}"
                        aria="{aria}"
                    />
                </f:else>
            </f:if>
        </f:render>
    </f:form.validationResults>
</formvh:renderRenderable>
</html>
