<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:cb="http://typo3.org/ns/TYPO3/CMS/ContentBlocks/ViewHelpers"
      xmlns:a="http://typo3.org/ns/Webconsulting/AstryxTypo3/Components/ComponentCollection"
      data-namespace-typo3-fluid="true">

<f:asset.css identifier="g-pricing-onetime-fees" href="{cb:assetPath()}/frontend.css"/>

<f:comment>
    Every fee brings the sentence that says what it buys. Left to a bare figure
    a setup charge becomes the line a reader argues about six weeks later, and
    the sentence is cheaper to write than the argument is to have.
</f:comment>

<a:layout.section surface="{data.tone}" class="g-pricing-onetime-fees">
    <a:layout.container size="{data.width}">

        <div class="g-pricing-onetime-fees__intro">
            <a:atom.heading level="2">{data -> f:render.text(field: 'header')}</a:atom.heading>

            <f:if condition="{data.subheader}">
                <a:atom.text type="large" class="g-pricing-onetime-fees__scope">{data -> f:render.text(field: 'subheader')}</a:atom.text>
            </f:if>

            <f:if condition="{data.lead}">
                <a:atom.text type="body" class="g-pricing-onetime-fees__lead">{data -> f:render.text(field: 'lead')}</a:atom.text>
            </f:if>
        </div>

        <div class="astryx-table-wrap g-pricing-onetime-fees__wrap">
            <a:molecule.table density="{f:if(condition: data.compact, then: 'compact', else: 'default')}" class="g-pricing-onetime-fees__table">
                <a:atom.visuallyHidden as="caption">{data -> f:render.text(field: 'header')}</a:atom.visuallyHidden>
                <thead>
                    <tr>
                        <th scope="col" class="g-pricing-onetime-fees__col-service"><f:translate key="LLL:EXT:astryx_typo3/ContentBlocks/ContentElements/pricing-onetime-fees/language/labels.xlf:column.service" default="Service"/></th>
                        <th scope="col" class="g-pricing-onetime-fees__col-fee"><f:translate key="LLL:EXT:astryx_typo3/ContentBlocks/ContentElements/pricing-onetime-fees/language/labels.xlf:column.fee" default="Fee"/></th>
                        <th scope="col" class="g-pricing-onetime-fees__col-covers"><f:translate key="LLL:EXT:astryx_typo3/ContentBlocks/ContentElements/pricing-onetime-fees/language/labels.xlf:column.covers" default="What the fee covers"/></th>
                    </tr>
                </thead>
                <tbody>
                    <f:for each="{data.fees}" as="fee">
                        <tr>
                            <th scope="row" class="g-pricing-onetime-fees__service">{fee -> f:render.text(field: 'title')}</th>
                            <td class="g-pricing-onetime-fees__fee">{fee -> f:render.text(field: 'value')}</td>
                            <td class="g-pricing-onetime-fees__covers">{fee -> f:render.text(field: 'text')}</td>
                        </tr>
                    </f:for>
                </tbody>
            </a:molecule.table>
        </div>

        <f:if condition="{data.note}">
            <a:atom.text type="supporting" class="g-pricing-onetime-fees__note">{data -> f:render.text(field: 'note')}</a:atom.text>
        </f:if>

    </a:layout.container>
</a:layout.section>

</html>
