<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:a="http://typo3.org/ns/Webconsulting/AstryxTypo3/Components/ComponentCollection"
    data-namespace-typo3-fluid="true"
>
<f:comment>felogin's flash messages (e.g. "we sent you a link") as Astryx Banners, tinted by severity.</f:comment>
<f:flashMessages as="flashMessages">
    <f:for each="{flashMessages}" as="flashMessage">
        <f:switch expression="{flashMessage.severity.value}">
            <f:case value="2"><f:variable name="status" value="error" /></f:case>
            <f:case value="1"><f:variable name="status" value="warning" /></f:case>
            <f:case value="0"><f:variable name="status" value="success" /></f:case>
            <f:defaultCase><f:variable name="status" value="info" /></f:defaultCase>
        </f:switch>
        <a:molecule.banner status="{status}" ariaLive="polite">
            <a:molecule.bannerContent>
                <f:if condition="{flashMessage.title}">
                    <a:molecule.bannerTitle level="3">{flashMessage.title}</a:molecule.bannerTitle>
                </f:if>
                <a:molecule.bannerBody>{flashMessage.message}</a:molecule.bannerBody>
            </a:molecule.bannerContent>
        </a:molecule.banner>
    </f:for>
</f:flashMessages>
</html>
