<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:a="http://typo3.org/ns/Webconsulting/AstryxTypo3/Components/ComponentCollection"
    data-namespace-typo3-fluid="true"
>
<f:comment>What a finisher that failed says instead of the confirmation: an error Banner.</f:comment>
<a:molecule.banner status="error" ariaLive="polite">
    <a:molecule.bannerContent>
        <a:molecule.bannerBody>{message}</a:molecule.bannerBody>
    </a:molecule.bannerContent>
</a:molecule.banner>
</html>
