<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:cb="http://typo3.org/ns/TYPO3/CMS/ContentBlocks/ViewHelpers"
      xmlns:a="http://typo3.org/ns/Webconsulting/AstryxTypo3/Components/ComponentCollection"
      data-namespace-typo3-fluid="true">

<f:asset.css identifier="g-feature-code" href="{cb:assetPath()}/frontend.css"/>

<f:comment>
    Outside edit mode the snippet is printed verbatim: the inline-edit wrapper
    turns newlines into markup, and inside a pre element that doubles every
    line break in the sample.
</f:comment>

<a:layout.section surface="{data.tone}" class="g-feature-code">
    <a:layout.container size="{data.width}">
        <a:layout.split variant="{f:if(condition: data.reverse, then: 'media-first', else: 'default')}" class="g-feature-code__grid">

            <div class="g-feature-code__copy">
                <f:if condition="{data.eyebrow}">
                    <a:atom.eyebrow>{data -> f:render.text(field: 'eyebrow')}</a:atom.eyebrow>
                </f:if>

                <a:atom.heading level="2">{data -> f:render.text(field: 'header')}</a:atom.heading>

                <f:if condition="{data.bodytext}">
                    <div class="astryx-prose g-feature-code__body"><f:format.html>{data.bodytext}</f:format.html></div>
                </f:if>

                <f:if condition="{data.cta_label} || {data.secondary_label}">
                    <a:molecule.buttonGroup class="g-feature-code__actions">
                        <f:if condition="{data.cta_label}">
                            <a:atom.button variant="primary" parameter="{data.cta_link}">{data.cta_label}</a:atom.button>
                        </f:if>
                        <f:if condition="{data.secondary_label}">
                            <a:atom.button variant="ghost" parameter="{data.secondary_link}">{data.secondary_label}</a:atom.button>
                        </f:if>
                    </a:molecule.buttonGroup>
                </f:if>
            </div>

            <a:molecule.codeBlock scroll="{true}" class="g-feature-code__block">
                <f:fragment name="header"><f:if condition="{data.caption}">{data -> f:render.text(field: 'caption')}</f:if></f:fragment>

                <f:fragment>
                    <pre><code><f:editMode><f:then>{data -> f:render.text(field: 'text')}</f:then><f:else>{data.text}</f:else></f:editMode></code></pre>
                </f:fragment>
            </a:molecule.codeBlock>

        </a:layout.split>
    </a:layout.container>
</a:layout.section>

</html>
